/* SocialMediaPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: Arial, sans-serif;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e45c5c;
    color: white;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .search {
    width: 40%;
    padding: 5px;
    border-radius: 4px;
    border: none;
  }
  
  .menu {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
  .avatar:hover{
    transform: scale(1.05);
  }
  .image{
    width: 50%;
    border-radius: 10px;
    object-fit: cover;
  }
  .body {
    display: flex;
    flex: 1;
    background-color: #f0f2f5;
  }
  
  .sidebar {
    width: 200px;
    background-color: #dd9797;
    padding: 15px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    cursor: not-allowed;
    margin: 0 0 8px 0;
    line-height: 1.5;
    color: #4b1010;
    font-size: 14px;
    border: 1.5px solid #4b1010;
    border-radius: 4px;
    padding: 10px;
  }
  .sidebar li:hover{
    background-color: #4b1010;
    color: white;
  }
  .sidebar h4{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .groups{
    display: flex;
    flex-direction: column;
  }
  .groups label{
    cursor: pointer;
    width: 100%;
    color: #4b1010;
    font-size: 14px;
    border-bottom: #440f0f 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .feed {
    flex: 1;
    padding: 20px;
  }
  
  .shareBox {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: #440f0f 2px solid;
  }
  .shareBox textarea {
    border-bottom: #440f0f 1px solid;
  }
  
  .input {
    width: 100%;
    border: none;
    resize: none;
    height: 60px;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #b95d5d;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button:hover{
    background-color: #7c3030;
  }
  
  .card {
    width: 100%;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: #440f0f 0px 0px 10px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .name {
    font-weight: bold;
    color: #440f0f;
    padding-left: 10px;
  }
  
  .time {
    font-size: 12px;
    color: rgb(77, 77, 77);
    padding-left: 10px;
  }
  
  .content {
    color: #440f0f;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #555;
  }
  .actions button{
    background-color: #b95d5d;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .actions button:hover{
    background-color: #7c3030;
    scale: 1.05;
  }
  
  .maliciousLink {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .phishingLink {
    color: orange;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
  }
 /* Right Extras */
 .rightExtras {
  width: 250px;
  background-color: #a05b5b;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.securityTips ul,
.trending ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.securityTips li,
.trending li {
  margin-bottom: 6px;
  font-size: 14px;
  color: #ffffff;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px dashed #ffffff;
}

.onlineUsers .userList {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.onlineUsers img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.rightExtras h4 {
  margin-bottom: 8px;
  font-size: 15px;
}

/* Beğeni Kısımları */
.metaInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 4px 0 8px 0;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

/* Profil Menü */
.userPanel {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInDown 0.3s ease;
  z-index: 1000;
  min-width: 150px;
}
.avatarWrapper {
  position: relative;
}

.settingsButton,
.logoutButton,
.username {
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  transition: background 0.2s;
}

.settingsButton:hover {
  background-color: #a3732f;
}
.logoutButton:hover {
  background-color: #6e1411;
}

.settingsButton {
  background-color: #f0ad4e;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

.logoutButton {
  background-color: #d9534f;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}


/* AYARLAR */
.settingsMenu {
  width: 100%;
  background: #f5dad9;
  border-radius: 10px;
  border: 1px solid #b6b6b6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  z-index: 10;
  display: none;
  animation: fadeInDown 0.5s ease-in-out;
}

.settingsMenu.active {
  display: block;
}

.settingsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.settingsHeader h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}
/* --- Dropdown Container (isteğe bağlı) --- */
.privacyDropdown {
  display: block;
  width: 100%;
  padding: 8px 14px;
  margin: 10px 0 18px 0;
  font-size: 1.1rem;
  color: #1b283a;
  background: #ca7b78;
  border: 1.5px solid #d2d9e7;
  border-radius: 9px;
  outline: none;
  transition: border 0.18s;
  font-family: inherit;
  box-shadow: 0 2px 6px #dbe8f2a0;
}

.privacyDropdown:focus {
  border-color: #238cff;
  background: #e7f1ff;
}

.privacyDropdown option {
  background: #fff;
  color: #213142;
  font-size: 1.03rem;
}

.closeIcon {
  font-size: 18px;
  font-weight: bold;
  color: #d32f2f;
  cursor: pointer;
  padding: 4px 10px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.closeIcon:hover {
  background-color: #fddede;
  transform: scale(1.1);
}

.settingsMenu p {
  color: #333;
  font-size: 1rem;
  margin-bottom: 5px;
}

.settingsMenu input[type="text"],
.settingsMenu input[type="password"] {
  width: calc(100% - 22px);
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.settingsMenu button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.settingsMenu button:hover {
  background-color: #0056b3;
}

.twoFAButton {
  display: block;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.twoFAButton:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}

.profilePictureButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.profilePictureButton:hover {
  background-color: #218838;
}

.successMessage {
  color: #248111;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  background: #86d383;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #075c2a;
  text-align: center;
}

.errorMessage {
  color: rgb(223, 66, 66);
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Privacy Settings */
.privacySelector {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  z-index: 1000;
}

.privacySelector button {
  background-color: #f3cdcc;
  border: 1px solid #ccc;
  padding: 6px 14px;
  margin-right: 5px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.privacySelector button:hover {
  background-color: rgb(243, 208, 208);
}

.privacyMenu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 200px;
  padding: 6px 0;
  animation: fadeInDown 0.3s ease;
  z-index: 1000;
}

.privacyMenu li {
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.privacyMenu li:hover {
  background-color: #f2f2f2;
}
.privacy{
  color: #6e1411;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bolder;
}


/* Mesajlaşma Kısmı */

.messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 58.4vh;
  width: 100%;
  overflow: hidden;
  background-color: #ffe7e7;
  color: brown;
  font-size: 16px;
}

.messagesWrapper {
  display: flex;
  height: 100%;
  border: 1px solid #f3d1d1;
  border-radius: 10px;
  overflow: hidden;
  background: #ee7b77;
}

.chatList {
  width: 250px;
  background-color: #f7c9c7;
  padding: 10px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.chatUser {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s;
  color: #440f0f;
}

.chatUser:hover {
  background-color: #e0e0e0;
}

.activeChat {
  background-color: #d0eaff;
  font-weight: bold;
}

.chatUser img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chatBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.chatBox p{
  color: #440f0f;
  font-size: 16px;
  margin: 0;
}

.chatHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.chatHeader img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
}

.chatBubble {
  background-color: #e2caca;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  max-width: 60%;
  align-self: flex-start;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.chatInput {
  display: flex;
  gap: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.chatInput input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.chatInput button {
  padding: 10px 16px;
  border: none;
  background-color: #440f0f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.chatInput button:hover {
  background-color: #000000;
}